:root {
  --clr-yellow-600: #fbdd6d;
  --clr-yellow-300: #fdeba5;
  --clr-yellow-100: #fff2c9;
  --clr-teal-600: #47afae;
  --clr-teal-300: #90d6d1;
  --clr-teal-100: #ceeadb;
  --clr-blue-600: #154a95;
  --clr-blue-300: #c5c9dd;
  --clr-white: #ffffff;

  --clr-base: var(--clr-blue-600);
  --clr-surface: var(--clr-blue-300);
  --clr-highlight: var(var(--clr-white));
  --clr-link: var(--clr-teal-600);
  --clr-surface-wind: var(--clr-teal-300);
  --clr-surface-wind-light: var(--clr-teal-100);
  --clr-surface-solar: var(--clr-yellow-300);
  --clr-surface-solar-light: var(--clr-yellow-100);

  --opct-bg-image: 0.2;

  --ff-heading: "wf-dela-gothic-one", sans-serif;
  --ff-title: "wf-bluu-next", serif;
  --ff-body: "wf-space-mono", monospace;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #fff;
}

/* component styles */

.circle-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: transparent;
  border: none;
  box-shadow: inset 0 0 0 3px var(--clr-base);
  color: var(--clr-base);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 1199.98px) {
  .circle-icon {
    width: 32px;
    height: 32px;
  }
}

.circle-icon:hover {
  background: var(--clr-white);
  box-shadow: inset 0 0 0 4px var(--clr-base);
}

.circle-icon svg {
  width: 100%;
  height: 100%;
}

.scrollable {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--clr-base) transparent;
  padding-right: 45px;
}

@media (max-width: 1199.98px) {
  .scrollable {
    padding-right: 32px;
  }
}

@media (max-width: 767.98px) {
  .scrollable {
    padding-right: 16px;
  }
}

/* fixed overlay styles */

.cefizelj-overlay .top-left-icons {
  display: none !important; /* NOTE: top left icons are hidden */
}

.cefizelj-overlay .top-left-icons,
.item .top-left-icons,
.half-content .top-left-icons {
  position: absolute;
  top: 45px;
  left: 45px;
  z-index: 1000;
  display: flex;
  gap: 20px;
}

@media (max-width: 1199.98px) {
  .cefizelj-overlay .top-left-icons,
  .item .top-left-icons,
  .half-content .top-left-icons {
    top: 32px;
    left: 32px;
  }
}

@media (max-width: 991.98px) {
  .cefizelj-overlay .top-left-icons,
  .item .top-left-icons,
  .half-content .top-left-icons {
    gap: 15px;
  }
}

@media (max-width: 767.98px) {
  .cefizelj-overlay .top-left-icons,
  .item .top-left-icons,
  .half-content .top-left-icons {
    top: 16px;
    left: 16px;
    gap: 10px;
  }
}

.half-content .top-left-icons {
  display: none;
}

@media (max-width: 767.98px) {
  .half-content .top-left-icons {
    display: flex;
    left: 24px;
  }
}

.half-content .top-left-icons button {
  width: 38px;
  height: 38px;
}

.cefizelj-overlay .top-left-icons button {
  width: 85px;
  height: 85px;
}

@media (max-width: 991.98px) {
  .cefizelj-overlay .top-left-icons button {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 767.98px) {
  .cefizelj-overlay .top-left-icons button {
    width: 38px;
    height: 38px;
  }
}

.cefizelj-overlay .modal-bg {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cefizelj-overlay .modal {
  position: relative;
  display: flex;
  background: var(--clr-white);
  box-shadow: 0 0 0 3px var(--clr-base);
  margin-inline: 0.5rem;
  padding: 45px;
  max-width: 920px;
  max-height: 90%;
}

@media (max-width: 1199.98px) {
  .cefizelj-overlay .modal {
    padding: 32px;
  }
}

@media (max-width: 767.98px) {
  .cefizelj-overlay .modal {
    padding: 16px;
    padding-right: 18px;
  }

  .cefizelj-overlay .modal .scrollable {
    padding-right: 24px;
  }
}

.cefizelj-overlay .modal .modal-content {
  overflow: hidden;
}

.cefizelj-overlay .modal .close-icon {
  position: absolute;
  top: 45px;
  right: 25px;
  padding-bottom: 25px;
  background: var(--clr-white);
}

@media (max-width: 1199.98px) {
  .cefizelj-overlay .modal .close-icon {
    top: 32px;
    right: 18px;
    padding-bottom: 18px;
  }
}

@media (max-width: 767.98px) {
  .cefizelj-overlay .modal .close-icon {
    top: 16px;
    right: 5px;
    padding-bottom: 10px;
  }
}

/* main cefizelj app styles */

.cefizelj-container {
  width: auto;
  height: 100vh;
  height: 100svh;
  white-space: nowrap;
  overflow: hidden;
}

.half {
  width: 50%;
  height: 100%;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  position: relative;
}

/* @media (max-width: 767.98px) {
  .half-root {
    width: 100%;
  }
} */

.centermycontentvertically {
  text-align: center;
  display: flex;
}

.centermevertically {
  display: inline-block;
  text-align: left;
  position: relative;
  margin: auto;
}

@media (max-width: 767.98px) {
  .half-content {
    width: 100%;
  }
}

.item,
.half-content .article {
  box-shadow: 0 0 0 3px var(--clr-base);
}

.item.hide-border,
.half-content .article.hide-border {
  box-shadow: none;
}

.half-content .article {
  padding: 45px;
}

@media (max-width: 1199.98px) {
  .half-content .article {
    padding: 32px;
  }
}

@media (max-width: 767.98px) {
  .half-content .article {
    padding: 24px;
  }
}

.half-content .article .hero-image {
  position: relative;
  margin-inline: -45px;
  margin-bottom: 0.5rem;
}

@media (max-width: 1199.98px) {
  .half-content .article .hero-image {
    margin-inline: -32px;
  }
}

@media (max-width: 767.98px) {
  .half-content .article .hero-image {
    margin-inline: -24px;
  }
}

.half-content .article .hero-image:first-child {
  margin-top: -45px;
}

@media (max-width: 1199.98px) {
  .half-content .article .hero-image:first-child {
    margin-top: -32px;
  }
}

@media (max-width: 767.98px) {
  .half-content .article .hero-image:first-child {
    margin-top: -24px;
  }
}

.half-content .article .hero-image img {
  margin-bottom: 0;
}

.half-content .article .hero-image h1 {
  padding-inline: 45px;
  padding-top: 4rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  position: absolute;
  inset: auto 0 0 0;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

@media (max-width: 1199.98px) {
  .half-content .article .hero-image h1 {
    padding-inline: 32px;
  }
}

@media (max-width: 767.98px) {
  .half-content .article .hero-image h1 {
    padding-inline: 24px;
  }
}

.item {
  --_item-bg: var(--clr-surface);
  --_item-bg-hover: var(--clr-surface);
  width: 100%;
  height: auto;
  background-color: var(--_item-bg);
  background-repeat: no-repeat;
  background-size: auto 85%;
  background-position: 20% bottom;
  transition: background-size 0.5s;
  color: var(--clr-base);
  user-select: none;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .item {
    background-position: center bottom;
    background-size: 75% auto;
  }

  .item.stretched.item-selected {
    background-size: 100% auto;
  }
}

.item:not(.noclick) {
  cursor: pointer;
}

.item:not(.noclick):hover {
  background-color: var(--_item-bg-hover);
}

.item h1.fwd,
.item h1.bck {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding-inline: 0.5rem;
  font-family: var(--ff-body);
  font-weight: 700;
  font-size: 2rem;
  color: var(--clr-base);
}

@media (max-width: 1199.98px) {
  .item h1.fwd,
  .item h1.bck {
    font-size: 1.6rem;
  }
}

@media (max-width: 991.98px) {
  .item h1.fwd,
  .item h1.bck {
    font-size: 1.4rem;
  }
}

@media (max-width: 767.98px) {
  .item h1.fwd,
  .item h1.bck {
    font-size: 1.1rem;
    gap: 10px;
  }
}

.item h1.fwd span,
.item h1.bck span {
  margin-top: -0.2em;
  text-align: center;
}

.item h1.fwd svg,
.item h1.bck svg {
  flex-shrink: 0;
  height: 30px;
}

@media (max-width: 1199.98px) {
  .item h1.fwd svg,
  .item h1.bck svg {
    height: 25px;
  }
}

@media (max-width: 991.98px) {
  .item h1.fwd svg,
  .item h1.bck svg {
    height: 20px;
  }
}

@media (max-width: 767.98px) {
  .item h1.fwd svg,
  .item h1.bck svg {
    height: 15px;
  }
}

.item h1.bck {
  flex-direction: row-reverse;
}

.item h1.bck svg {
  transform: scaleX(-1);
}

.item.stretched:not(.hide-border) .top-left-icons,
.item.shrunk .top-left-icons {
  display: none;
}

.item.stretched.hide-border .top-left-icons {
  top: auto;
  bottom: 45px;
}

@media (max-width: 1199.98px) {
  .item.stretched.hide-border .top-left-icons {
    bottom: 32px;
  }
}

@media (max-width: 767.98px) {
  .item.stretched.hide-border .top-left-icons {
    bottom: 16px;
  }
}

.item .top-left-icons button {
  width: 65px;
  height: 65px;
}

@media (max-width: 767.98px) {
  .item .top-left-icons button {
    width: 38px;
    height: 38px;
  }
}

/* extra class item variants */

.item.solar {
  --_item-bg: var(--clr-surface-solar-light);
  --_item-bg-hover: var(--clr-surface-solar);
}

.item.solar-img {
  background-image: url("../img/solar.svg?v=${COMMIT_SHA}");
}

.item.wind {
  --_item-bg: var(--clr-surface-wind-light);
  --_item-bg-hover: var(--clr-surface-wind);
}

.item.wind-img {
  background-image: url("../img/turbine.svg?v=${COMMIT_SHA}");
}

.item.solar-img h1.fwd,
.item.solar-img h1.bck,
.item.wind-img h1.fwd,
.item.wind-img h1.bck {
  font-family: var(--ff-title);
  font-weight: 400;
  font-size: 2.8rem;
}

@media (max-width: 1199.98px) {
  .item.solar-img h1.fwd,
  .item.solar-img h1.bck,
  .item.wind-img h1.fwd,
  .item.wind-img h1.bck {
    font-size: 2.4rem;
  }
}

@media (max-width: 991.98px) {
  .item.solar-img h1.fwd,
  .item.solar-img h1.bck,
  .item.wind-img h1.fwd,
  .item.wind-img h1.bck {
    font-size: 2rem;
  }
}

@media (max-width: 767.98px) {
  .item.solar-img h1.fwd,
  .item.solar-img h1.bck,
  .item.wind-img h1.fwd,
  .item.wind-img h1.bck {
    font-size: 1.5rem;
  }
}

/* root html page */

.root-html {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 45px;
  overflow-y: auto;
}

@media (max-width: 1199.98px) {
  .root-html {
    padding: 32px;
  }
}

@media (max-width: 767.98px) {
  .root-html {
    padding: 16px;
  }
}

.root-html .title {
  margin-top: 15vh;
  margin-bottom: 8vh;

  margin-top: 0 !important; /* NOTE: top left icons are hidden */
}

@media (max-width: 991.98px) {
  .root-html .title {
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
}

.root-html .title h1 {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 4rem;
  line-height: 1.1;
  color: var(--clr-base);
  text-align: right;
}

@media (max-width: 1199.98px) {
  .root-html .title h1 {
    font-size: 3.2rem;
  }
}

@media (max-width: 991.98px) {
  .root-html .title h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 767.98px) {
  .root-html .title h1 {
    font-size: 1.6rem;
  }
}

.root-html .title h1 em {
  font-style: normal;
  color: var(--clr-white);
}

.root-html .content {
  margin-bottom: auto;
}

.root-html .content h2,
.root-html .content h3,
.root-html .content h4 {
  font-family: var(--ff-title);
  font-weight: 400;
  color: var(--clr-base);
  margin-bottom: 1.5rem;
}

.root-html .content h2 {
  font-size: 2.8rem;
}

@media (max-width: 1199.98px) {
  .root-html .content h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 991.98px) {
  .root-html .content h2 {
    font-size: 2rem;
  }
}

@media (max-width: 767.98px) {
  .root-html .content h2 {
    font-size: 1.6rem;
  }
}

.root-html .content h3 {
  font-size: 2.4rem;
}

@media (max-width: 1199.98px) {
  .root-html .content h3 {
    font-size: 2rem;
  }
}

@media (max-width: 991.98px) {
  .root-html .content h3 {
    font-size: 1.6rem;
  }
}

@media (max-width: 767.98px) {
  .root-html .content h3 {
    font-size: 1.4rem;
  }
}

.root-html .content h4 {
  font-size: 2rem;
}

@media (max-width: 1199.98px) {
  .root-html .content h4 {
    font-size: 1.6rem;
  }
}

@media (max-width: 991.98px) {
  .root-html .content h4 {
    font-size: 1.4rem;
  }
}

@media (max-width: 767.98px) {
  .root-html .content h4 {
    font-size: 1.2rem;
  }
}

.root-html .content p {
  font-family: var(--ff-body);
  font-size: 1.4rem;
  line-height: 1.3;
  color: var(--clr-base);
  text-align: left;
  margin-bottom: 1.5rem;
}

@media (max-width: 1199.98px) {
  .root-html .content p {
    font-size: 1.2rem;
  }
}

@media (max-width: 991.98px) {
  .root-html .content p {
    font-size: 1rem;
  }
}

@media (max-width: 767.98px) {
  .root-html .content p {
    font-size: 0.875rem;
  }
}

.root-html .content p.lead {
  font-size: 1.6rem;
}

@media (max-width: 1199.98px) {
  .root-html .content p.lead {
    font-size: 1.4rem;
  }
}

@media (max-width: 991.98px) {
  .root-html .content p.lead {
    font-size: 1.2rem;
  }
}

@media (max-width: 767.98px) {
  .root-html .content p.lead {
    font-size: 1rem;
  }
}

.root-html .footer {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

@media (max-width: 1199.98px) {
  .root-html .footer {
    margin-top: 32px;
  }
}

@media (max-width: 767.98px) {
  .root-html .footer {
    margin-top: 16px;
  }
}

.root-html .footer .logos {
  display: flex;
  gap: 25px;
}

.root-html .footer .logos a {
  text-decoration: none;
  color: var(--clr-white);
}

.root-html .footer .logos a:hover {
  color: var(--clr-base);
}

.root-html .footer .logos svg {
  height: 55px;
}

@media (max-width: 991.98px) {
  .root-html .footer .logos svg {
    height: 40px;
  }
}

@media (max-width: 767.98px) {
  .root-html .footer .logos svg {
    height: 10px;
  }
}

.root-html .footer .show-more a,
.root-html .footer .hide-more a {
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: var(--ff-title);
  font-size: 2.8rem;
  color: var(--clr-base);
  text-decoration: none;
}

@media (max-width: 1199.98px) {
  .root-html .footer .show-more a,
  .root-html .footer .hide-more a {
    font-size: 2rem;
  }
}

@media (max-width: 991.98px) {
  .root-html .footer .show-more a,
  .root-html .footer .hide-more a {
    gap: 15px;
    font-size: 1.6rem;
  }
}

@media (max-width: 767.98px) {
  .root-html .footer .show-more a,
  .root-html .footer .hide-more a {
    gap: 10px;
    font-size: 1.2rem;
  }
}

.root-html .footer .show-more a:hover,
.root-html .footer .hide-more a:hover {
  text-decoration: underline;
}

.root-html .footer .show-more a span,
.root-html .footer .hide-more a span {
  margin-top: -0.2em;
}

.root-html .footer .show-more a svg,
.root-html .footer .hide-more a svg {
  flex-shrink: 0;
  height: 30px;
}

@media (max-width: 1199.98px) {
  .root-html .footer .show-more a svg,
  .root-html .footer .hide-more a svg {
    height: 25px;
  }
}

@media (max-width: 991.98px) {
  .root-html .footer .show-more a svg,
  .root-html .footer .hide-more a svg {
    height: 20px;
  }
}

@media (max-width: 767.98px) {
  .root-html .footer .show-more a svg,
  .root-html .footer .hide-more a svg {
    height: 15px;
  }
}

.root-html .footer .hide-more a svg {
  transform: scaleX(-1);
}

/* article (and modal) */

.article {
  height: 100%;
  background: var(--clr-white);
  font-family: var(--ff-body);
  font-weight: 400;
  line-height: 1.3;
  color: var(--clr-base);
  text-align: left;
}

.article h1,
.article h2,
.article h3,
.article h4 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.article h1 {
  font-size: 2rem;
}

@media (max-width: 1199.98px) {
  .article h1 {
    font-size: 1.75rem;
  }
}

@media (max-width: 991.98px) {
  .article h1 {
    font-size: 1.5rem;
  }
}

.article h2 {
  font-size: 1.75rem;
}

@media (max-width: 1199.98px) {
  .article h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991.98px) {
  .article h2 {
    font-size: 1.25rem;
  }
}

.article h3 {
  font-size: 1.5rem;
}

@media (max-width: 1199.98px) {
  .article h3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991.98px) {
  .article h3 {
    font-size: 1rem;
  }
}

.article h4 {
  font-size: 1.25rem;
}

@media (max-width: 1199.98px) {
  .article h4 {
    font-size: 1rem;
  }
}

@media (max-width: 991.98px) {
  .article h4 {
    font-size: 0.875rem;
  }
}

.article p,
.article ul,
.article ol,
.article details {
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

@media (max-width: 1199.98px) {
  .article p,
  .article ul,
  .article ol,
  .article details {
    font-size: 1rem;
  }
}

@media (max-width: 991.98px) {
  .article p,
  .article ul,
  .article ol,
  .article details {
    font-size: 0.875rem;
  }
}

.article details summary {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  list-style: none;
}

@media (max-width: 1199.98px) {
  .article details summary {
    font-size: 1.4rem;
  }
}

@media (max-width: 991.98px) {
  .article details summary {
    font-size: 1.2rem;
  }
}

.article details summary::before {
  flex-shrink: 0;
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-block: -0.4em -0.5em;
  margin-right: 1em;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.468 11.469"><path fill="none" stroke="%23154a95" stroke-miterlimit="10" stroke-width=".525" d="M11.206 5.734a5.472 5.472 0 1 1-10.944 0 5.472 5.472 0 0 1 10.944 0z"/><path fill="%23154a95" d="M3.498 5.508h1.83V3.677h.763v1.83h1.83v.763h-1.83V8.1h-.762V6.27H3.498Z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.article details[open] summary {
  margin-bottom: 1.5rem;
}

.article details[open] summary::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.468 11.469"><path fill="none" stroke="%23154a95" stroke-miterlimit="10" stroke-width=".525" d="M11.206 5.734a5.472 5.472 0 1 1-10.944 0 5.472 5.472 0 0 1 10.944 0z"/><path fill="%23154a95" d="m3.498 5.508 4.423-.001v.763H3.498Z"/></svg>');
}

.article ul {
  list-style-type: "- ";
  padding-left: 1.2em;
}

.article p.lead {
  font-size: 1.6rem;
}

@media (max-width: 1199.98px) {
  .article p.lead {
    font-size: 1.4rem;
  }
}

@media (max-width: 991.98px) {
  .article p.lead {
    font-size: 1.2rem;
  }
}

.article a {
  color: var(--clr-link);
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
}

.article a:hover {
  text-decoration: none;
}

.article img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.article iframe {
  width: 100%;
  max-width: 720px;
  height: auto;
  aspect-ratio: 16 / 9;
  margin-bottom: 1.5rem;
}
