.container-fluid {
  padding-bottom: 0;
}

body {
  /* reset stupid mobile blink */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #ffffff;
}

.img-responsive {
  width: 500px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: 'acumin-pro', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 48px;
  /*text-transform: uppercase;*/
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  color: #3d3d3d;
}

.subtitle {
  font-size: 24px;
  color: #e3e3e3;
  text-align: center;
}

/* p {
  font-size: 16px;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 300;
  margin: 0;
} */
/*
a {
  color: #de786b;
} */

.bck-red {
   background-color: #f9e4e2;
   /* #b0003f;  */
  /* #de786b; */
}

.col-red {
  color: #f9e4e2;
  /* #b0003f; */
  /* #de786b; */
}

.bck-black {
  background-color: #ffffff;
  /* #3d3d3d; */
}

.col-black {
  color: #ffffff;
  /* #3d3d3d; */
}

.bck-grey {
  background-color: #f6f6f6;
  /* #e3e3e3; */
}

.col-grey {
  color: #f6f6f6;
  /* #e3e3e3; */
}

.border-red {
  box-shadow: inset 0 0 0 1px #b86a60;
}

.border-black {
  box-shadow: inset 0 0 0 1px #545454;
}

.cookiewarning {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 133px;
  height: 133px;
  background-image: url(../img/cookieback.png);
  z-index: 200;
  padding: 10px;
}

.cookietext {
  font-size: 12px;
  line-height: 1.2em;
}

.cookieoption {
  padding-top: 7px;
  width: 40%;
  float: left;
  overflow: visible;
  font-size: 12px;
  line-height: 1.2em;
  font-family: 'acumin-pro', sans-serif;
  cursor: pointer;
}

.cookieoption:nth-child(2) {
  margin-right: 5px;
}

.cookieok {
  width: 26px;
  height: 26px;
  background-image: url(../img/cookieicons.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-left: 3px;
}

.cookieoption:hover .cookieok {
  background-position: 0px -26px;
}

.cookiemoreinfo {
  width: 27px;
  height: 27px;
  background-image: url(../img/cookieicons.png);
  background-repeat: no-repeat;
  background-position: -26px 0px;
  position: relative;
  margin: auto;
  left: 2px;
}

.cookieoption:hover .cookiemoreinfo {
  background-position: -26px -27px;
}

.cefizelj-container {
  width: auto;
  height: 100%;
  position: relative;
  overflow: visible;
  white-space: nowrap;
  margin-left: -15px;
  margin-right: -15px;
  font-size: 0;
}

.half-content {
  font-size: 14px;
}

.half {
  width: 50%;
  height: 100%;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  position: relative;
}


/* Spinner */

.spinner {
  width: 50px;
  height: 50px;
  background-color: #de786b;
  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  -moz-animation: rotateplane 1.2s infinite ease-in-out;
  -ms-animation: rotateplane 1.2s infinite ease-in-out;
  -o-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
  top: 50%;
  position: relative;
  margin-top: -25px;
}

@-webkit-keyframes rotateplane {
  0% {
      -webkit-transform: perspective(120px);
  }
  50% {
      -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes rotateplane {
  0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.centermycontentvertically {
  text-align: center;
}

.centermycontentvertically::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.centermevertically {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  position: relative;
  margin: auto;
}

.item {
  width: 100%;
  height: auto;
  cursor: pointer;
  background-color: #f9e4e2;
  box-shadow: 0 0 0 1px #dc776b;
  color: #111;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.item:hover {
  background-color: #f4cfcb;
  color: #111;
}
.noclick .fwd::after {
  display: none;
}
.noclick:hover {
  background-color: #f9e4e2;
  cursor: default;
}

.item-red {
  background-color: #f9e4e2;
  color: #111;
}

.fwd,
.bck {
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.fwd:after {
  content: '';
  width: 31px;
  height: 31px;
  font-size: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMid' viewBox='0 0 100 100'%3E%3Cpath d='M81 50c0-.463-.28-1.077-.564-1.376l-16-17c-.747-.772-1.957-.862-2.828-.078-.778.7-.798 2.067-.078 2.828L74.374 48H21a2 2 0 1 0 0 4h53.374L61.53 65.625c-.72.76-.669 2.094.078 2.828.789.775 2.093.706 2.828-.078l16-17c.47-.461.556-.905.564-1.375z' fill='%23000'/%3E%3C/svg%3E");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 10px;
}

/* .fwd:before {
  content: '';
  width: 0;
  height: 0;
  font-size: 0;
  border-style: solid;
  border-width: 7.5px 13px 7.5px 0;
  border-color: transparent transparent transparent transparent;
  position: relative;
  top: -19px;
  left: -3px;
} */

.item:hover .fwd:after {
  border-color: transparent transparent transparent #ffffff;
}

.bck:before {
  content: '';
  width: 31px;
  height: 31px;
  font-size: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMid' viewBox='0 0 100 100'%3E%3Cpath d='M81 50c0-.463-.28-1.077-.564-1.376l-16-17c-.747-.772-1.957-.862-2.828-.078-.778.7-.798 2.067-.078 2.828L74.374 48H21a2 2 0 1 0 0 4h53.374L61.53 65.625c-.72.76-.669 2.094.078 2.828.789.775 2.093.706 2.828-.078l16-17c.47-.461.556-.905.564-1.375z' fill='%23000'/%3E%3C/svg%3E");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 5px;
  left: -10px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* .bck:after {
  content: '';
  width: 0;
  height: 0;
  font-size: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 13px;
  border-color: transparent transparent transparent transparent;
  position: relative;
  top: -19px;
  left: 3px;
} */

.item:hover .bck:before {
  border-color: transparent #ffffff transparent transparent;
}

.htmlcontainer {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
  padding: 30px;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
}

.tabs {
  width: 100%;
}

.tab {
  min-width: 125px;
  min-height: 62px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  font-size: 24px;
  line-height: 67px;
  text-align: center;
  /*text-transform: uppercase;*/
  font-family: 'acumin-pro', sans-serif;
  position: relative;
  overflow: visible;
  background-color: #3d3d3d;
  color: #de786b;
  margin-left: 15px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tab:hover {
  background-color: #de786b;
  color: #3d3d3d;
}

.tab:first-child {
  margin-left: 0;
}

.tab.open {
  background-color: #de786b;
  color: #3d3d3d;
}

.tab.open:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 6.5px 0 6.5px;
  border-color: #de786b transparent transparent transparent;
  z-index: 2000;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -7.5px;
}

.tab-bottom.open:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6.5px 15px 6.5px;
  border-color: transparent transparent #de786b transparent;
  z-index: 2000;
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -7.5px;
}

.content {
  padding: 20px 10px 15px 10px;
  background-color: #f3f3f3;
}

.content div {
  display: none;
}

.content div.open {
  display: block;
}

.nasveti {
  margin-bottom: 10px;
}


/* fancy list */

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ac-custom {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 300;
}

.ac-custom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ac-custom li {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  line-height: 2em;
}

.ac-custom li p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -32px;
}

.ac-custom label {
  display: inline-block;
  position: relative;
  vertical-align: top;
  color: #3d3d3d;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  margin-left: 20px;
  padding-bottom: 0.2em;
}

.ac-list label {
  cursor: pointer;
}

.ac-custom label:before {
  font-family: 'icomoon2';
  content: '\e600';
  font-size: 16px;
  position: relative;
  left: -6px;
  top: 1px;
}

.ac-custom input[type="checkbox"] {
  width: 16px;
  height: 16px;
  top: 50%;
  left: 0;
  margin-top: -10px;
  position: absolute;
  cursor: pointer;
}

.ac-custom input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
}

.ac-custom input[type="checkbox"]:checked + label::before {
  opacity: 0.8;
}


/* SVG and path styles */

.ac-custom svg {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 80px;
  left: 0;
  top: 3px;
  margin-top: 0px;
}

.ac-custom svg path {
  stroke: #de786b;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  stroke-width: 3px;
}


/* end of fancy list */

.visible-xs {
  display: none;
}

.nazajcontainer {
  width: 100%;
  height: 40px;
  background-color: #f9e4e2;
  /* #b0003f; */
  color: #111;
  text-align: center;
  /* text-transform: uppercase; */
  position: relative;
  top: 0;
  left: 0;
  z-index: 9000;
  overflow: hidden;
  font-size: 18px;
  /* font-family: 'acumin-pro'; */
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nazajcontainer:hover {
  background-color: #88ACC3;
  /* #920135; */
  color: #ffffff;
}

.nazaj.bck:before {
  content: '';
  width: 20px;
  height: 20px;
  font-size: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMid' viewBox='0 0 100 100'%3E%3Cpath d='M81 50c0-.463-.28-1.077-.564-1.376l-16-17c-.747-.772-1.957-.862-2.828-.078-.778.7-.798 2.067-.078 2.828L74.374 48H21a2 2 0 1 0 0 4h53.374L61.53 65.625c-.72.76-.669 2.094.078 2.828.789.775 2.093.706 2.828-.078l16-17c.47-.461.556-.905.564-1.375z' fill='%23000'/%3E%3C/svg%3E");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 3px;
  left: -6px;
}

.nazajcontainer:hover .bck:before {
  border-color: transparent #3d3d3d transparent transparent;
}


/* small devices */

@media (max-width: 991px) {
  .htmlcontainer {
      padding: 15px;
  }
  p {
      font-size: 14px;
  }
  h1 {
      font-size: 24px;
  }
  h2,
  h3 {
      font-size: 18px;
  }
  .tab {
      font-size: 24px;
      width: 50%;
      margin: 0;
  }
  .ac-custom li {
      font-size: 14px;
  }
  .ac-custom li p {
      margin-top: -30px;
  }
  .fwd:before,
  .fwd:after,
  .bck:before,
  .bck:after {
      top: 8px;
  }
}


/* extra small devices */

@media (max-width: 767px) {
  .visible-xs {
      display: block;
  }
  .htmlcontainer {
      padding-top: 75px;
  }
}


/* naprej hack TODO */

.naprejprosim {
  background: red;
  height: 100px;
  color: black;
  cursor: pointer;
}


/* added for pedri */

.htmlcontainer ul {
  padding-left: 6px;
  margin-bottom: 40px;
}

.htmlcontainer ul li {
  font-size: 16px;
  font-family: 'acumin-pro';
  list-style: none;
  padding-left: 0;
}

.htmlcontainer ul li:before {
  font-family: 'icomoon2';
  content: '\e600';
  font-size: 16px;
  position: relative;
  left: -6px;
  top: 1px;
}

.htmlcontainer h1,
.htmlcontainer h2,
.htmlcontainer h3 {
  color: #b0003f;
  font-weight: 700;
  font-size: 36px;
  margin-top: 1.5em;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.htmlcontainer h2 {
  font-size: 24px;
}

.htmlcontainer h3 {
  font-size: 20px;
}

.htmlcontainer p {
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.htmlcontainer a {
  color: #b0003f;
}

.htmlcontainer a:hover {
  color: #920135;
}


/* start slide */

.forbaloncek {
  width: 100%;
}

.baloncek {
  max-width: 488px;
  min-height: 550px;
  width: 100%;
  background-image: url('../img/baloncek.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 120px;
  position: relative;
  margin: auto;
}

.baloncek p {
  font-size: 36px;
  margin-bottom: 0;
}

.pza {
  margin-top: 10px;
}

.contentcontainer {
  overflow-y: auto;
  height: 100%;
}

.half-left {
  overflow: hidden;
}


/* font sizes */

.item h1 {
  font-size: 28px;
}

@media (max-width: 767px) {
  .half-content {
      width: 100%;
  }
  .item h1 {
      font-size: 13px;
  }
  .fwd,
  .bck {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .fwd:after,
  .bck:before {
      width: 16px;
      height: 16px;
      top: 3px;
      left: 6px;
  }
  .bck:before {
    left: -6px;
  }
  .baloncek {
      padding-top: 125px;
      background-position: center 100px;
  }
  .baloncek p {
      font-size: 18px;
  }
  .baloncek .pza img {
      width: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .item h1 {
      font-size: 20px;
  }
  .fwd:after,
  .bck:before {
      /*width: 13px;*/
      /*height: 13px;*/
      /* top: 0; */
  }
}


/* Large devices (large desktops, 1200px and up) */


/*@media (min-width: @screen-lg-min) { ... }*/


/* end font sizes */


/* share stuff */

.share-instructions {
  color: #000000;
  font-size: 16px;
  display: inline-block;
  line-height: 30px;
  margin-right: 10px;
  font-family: 'acumin-pro';
  font-weight: 700;
}

.circle {
  background-color: #b0003f;
  height: 30px;
  width: 30px;
  padding: 6px 6px 6px 6px;
  margin: 5px 5px 5px 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 1px 0px #ffffff inset;
}

.circle .pulse {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.icon {
  font-size: 18px;
  color: #ffffff;
}

.icon-facebook:before {
  content: "\e60b";
}

.icon-twitter:before {
  content: "\e60c";
}
.icon-email:before {
content: "\e60f";
}

.pulse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #b0003f;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 275ms;
  -o-transition-duration: 275ms;
  -webkit-transition-duration: 275ms;
  transition-duration: 275ms;
  -moz-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
  -o-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
  -webkit-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
  transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
}

.pulse:hover {
  opacity: 1;
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  -moz-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  -o-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  -webkit-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}


/* end of share stuff */


/* sqs-block-content je direkt copy-paste iz njihovega sajta za referendum za vodo */
.sqs-block-content {
  padding: 20px 40px;
  font-family: 'acumin-pro', sans-serif;
  max-width: 1050px;
  margin: 0 auto;
}

.sqs-block-content hr {
  margin: 50px 0;
  border-top-color: #dc776b;
}

.sqs-block-content h3 {
  color: #dc776b;
}

.sqs-block-content h3,
.sqs-block-content h3 span {
  font-weight: 700 !important;
}

.sqs-block-content h3 em {
  font-style: normal;
}

.sqs-block-content p,
.sqs-block-content ul {
  font-size: 18px;
}

.sqs-block-content p.question {
  margin-bottom: 0.5em;
  margin-top: 2em;
}

.sqs-block-content a {
  color: #dc776b;
  font-weight: 700;
  font-size: 18px;
}

.sqs-block-content .btn.btn-primary {
  background: transparent;
  border-color: #dc776b;
  color: #dc776b;
  border-radius: 0;
  padding: 15px 20px;
  font-weight: 700;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 18px;
  font-style: italic;
  transition: background-color .15s
}
.sqs-block-content .btn.btn-primary:hover {
  background-color: #f9e4e2;
}

@media (max-width: 575px) {
  .sqs-block-content .btn.btn-primary {
    font-size: 14px;
  }
}

dl {
  font-size: 16px;
}

dl dt {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

p,
ul {
  margin-bottom: 1em;
}

.nodeimage-filter {
  mix-blend-mode: multiply;
  filter: contrast(1.3) grayscale(0.5);
}
