:root {
  --bg-color: #fff7db;
  --bg-hover-color: #f4e2a2;
  --border-color: #000;
  --text-color: #000;
  --text-accent-color: #000;
}

*,
*:after,
*::before {
  box-sizing: border-box;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  color: var(--text-color);
}

.container-fluid {
  padding-bottom: 0;
}

.fwd.has-img-root {
  display: block;
  text-align: left;
  max-width: 735px;
  font-size: 4.8rem;
  font-weight: 700;
}

.img-root {
  display: block;
  width: 40rem;
  margin-bottom: 3rem;
}

h1,
h2,
h3 {
  font-family: system-ui, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  color: var(--text-color);
}

.cefizelj-container {
  width: auto;
  height: 100%;
  position: relative;
  overflow: visible;
  white-space: nowrap;
  margin-left: -15px;
  margin-right: -15px;
  font-size: 0;
}

.half {
  width: 50%;
  height: 100%;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  position: relative;
}

.half-left {
  width: calc(50% + 1px);
  margin-right: -1px;
}

.half-content {
  font-size: 1.4rem;
}

.item {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  cursor: pointer;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  text-align: left;
  color: var(--text-color);
  user-select: none;
  overflow: hidden;
  z-index: 0;
}
.item + .item:not(.stretched) {
  border-top-width: 0;
}
.item.noclick {
  cursor: default;
}
.item.noclick .fwd::after {
  display: none;
}

.item:not(.noclick):hover,
.item:not(.noclick):focus-visible {
  background-color: var(--bg-hover-color);
  color: var(--text-color);
  z-index: 1000;
}
.item:not(.noclick):hover {
  box-shadow: 0 0 0 1px var(--border-color) inset;
}
.item:not(.noclick):focus-visible {
  outline: 2px solid var(--border-color);
  outline-offset: -5px;
}

.item-content {
  padding-inline: 6.4rem;
}

.item-content h1 {
  font-size: 3.2rem;
}

.fwd,
.bck {
  display: flex;
  align-items: center;
  margin-block: 1.5rem;
}
.fwd {
  justify-content: space-between;
}
.bck {
  justify-content: center;
}

.fwd:after {
  flex-shrink: 0;
  content: "";
  width: 31px;
  height: 31px;
  font-size: 0;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 30 15"><path fill="%23000" d="M29.707 8.071a1 1 0 0 0 0-1.414L23.343.293a1 1 0 1 0-1.414 1.414l5.657 5.657-5.657 5.657a1 1 0 0 0 1.414 1.414zM0 7.364v1h29v-2H0z"/></svg>');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 0px;
  left: 10px;
}

.bck:before {
  flex-shrink: 0;
  content: "";
  width: 31px;
  height: 31px;
  font-size: 0;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 30 15"><path fill="%23000" d="M29.707 8.071a1 1 0 0 0 0-1.414L23.343.293a1 1 0 1 0-1.414 1.414l5.657 5.657-5.657 5.657a1 1 0 0 0 1.414 1.414zM0 7.364v1h29v-2H0z"/></svg>');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 0px;
  left: -10px;
  transform: rotate(180deg);
}

.contentcontainer {
  overflow-y: auto;
  height: 100%;
}

.article-content {
  padding: 20px 40px;
  font-family: system-ui, sans-serif;
  max-width: 1050px;
  margin: 0 auto;
  color: var(--text-color);
}

.article-content hr {
  margin: 50px 0;
  border-top-color: var(--border-color);
}

.article-content h3 {
  color: var(--text-accent-color);
}

.article-content h3,
.article-content h3 span {
  font-weight: 600 !important;
  line-height: 1.3;
}

.article-content h3 em {
  font-style: normal;
}

.article-content p,
.article-content ul {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 1em;
}

.article-content p.question {
  margin-bottom: 0.5em;
  margin-top: 2em;
}

.article-content a {
  color: var(--border-color);
  font-weight: 600;
  font-size: 1.8rem;
}
.article-content a:focus-visible {
  outline: 2px solid var(--border-color);
  outline-offset: 2px;
}

.article-content strong {
  font-weight: 600;
}

.article-content .btn.btn-primary {
  background: var(--bg-color);
  border-color: var(--border-color);
  color: var(--text-accent-color);
  border-radius: 0;
  padding: 15px 20px;
  font-weight: 600;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 1.8rem;
  transition: none;
}

.article-content .btn.btn-primary:hover,
.article-content .btn.btn-primary:focus-visible {
  background-color: var(--bg-hover-color);
}
.article-content .btn.btn-primary:hover {
  box-shadow: 0 0 0 1px var(--border-color) inset;
}
.article-content .btn.btn-primary:focus-visible {
  outline: 2px solid var(--border-color);
  outline-offset: -5px;
}
